extends ../layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione quasi hic alias cumque reiciendis, necessitatibus vero adipisci. Unde modi nihil quo natus dolore magnam alias quia facere, possimus odit.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quis harum minima, placeat voluptatibus assumenda, repellendus autem temporibus, voluptates cum quas neque nam nulla in consequatur! Cumque voluptatibus iste delectus quis sit eius molestiae rerum minima sunt. Eum, praesentium hic!
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur vitae ea architecto ullam dignissimos quae doloribus dolor accusantium. Nesciunt numquam assumenda debitis dolor, voluptatum non laboriosam. Ducimus sit quae voluptate libero nesciunt facilis, maxime expedita. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deleniti architecto amet porro illo repellat aliquam quos omnis possimus qui.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2 mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deleniti architecto amet porro illo repellat aliquam quos omnis possimus qui.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel deleniti architecto amet porro illo repellat aliquam quos omnis possimus qui.
